---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note about resource behaviour**
When working with local files, Terraform will detect the resource
as having been deleted each time a configuration is applied on a new machine
where the file is not present and will generate a diff to re-create it. This
may cause "noise" in diffs in environments where configurations are routinely
applied by many different users or within automation systems.

~> **Note about file content**
File content must be specified with _exactly_ one of the arguments `content`,
`sensitive_content` (Deprecated), `content_base64`, or `source`.

-> If the file content is sensitive, use the
[`local_sensitive_file`](./sensitive_file.html) resource instead.

## Example Usage

{{ tffile "examples/resources/resource-file.tf" }}

{{ .SchemaMarkdown | trimspace }}